<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:4306/ThirdMealDB?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">!Password1</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.Address"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.Menu"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.MenuItem"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.Order"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.OrderItem"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.PhoneNumber"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.Restaurant"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.RestaurantDailyHours"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.User"/>
        <mapping class="com.objectoriented.thirdmeal.theThirdMeal.Entities.UserRole"/>

    </session-factory>
</hibernate-configuration>