<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div th:fragment="logout" class="ml-auto my-2">
        <form th:action="@{/logout}" method="post" class="form-inline">
            <input type="submit" value="Logout" class="btn btn-primary" />
        </form>
    </div>
</body>
</html>