<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Please log in to The Third Meal</h2>
        </div>
        <form action="#" th:action="@{/login}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"
                       class="form-control" required="true" />
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"
                           class="form-control" required="true" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <p>Don't have an account? Sign up <a href="/signup">here</a>.</p>
    </div>
</body>
</html>