<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 th:text="${restaurant.name}" />
        <h3 th:text="'Address: ' + ${restaurant.address}" />
        <h3 th:text="'Phone Number: ' + ${restaurant.phoneNumber}" />
        <p><a href="/restaurantCreateEdit">Edit Restaurant</a></p>
    </div>
</body>
</html>