<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="header :: header" />
    <div class="container">
        <nav role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
            </ol>
        </nav>
        <h1 th:text="${restaurant.name}" />
        <h3 th:text="'Address: ' + ${restaurant.address}" />
        <h3 th:text="'Phone Number: ' + ${restaurant.phoneNumber}" />
        <h3>Menus:</h3>
        <div th:each="menu : ${restaurant.menus}">
            <h4 th:text="${menu.name}" />
        </div>
        <h4><a href="/restaurantCreateEdit">Edit Restaurant</a></h4>
        <h4><a th:href="@{/menuCreateEdit(restaurantKey=${restaurant.key})}">Add a Menu</a></h4>

    </div>
</body>
</html>