<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form action="#" th:action="@{/signup}" method="post">
        <label for="username">Username:</label>
        <input type="text" th:field="${user.username}" id="username" />
        <label for="password">Password:</label>
        <input type="password" th:field="${user.password}" id="password" />
        <label for="userRole">User Type:</label>
        <select th:field="${userRole.role}" id="userRole" >
            <option th:each="role : ${T(com.objectoriented.thirdmeal.theThirdMeal.Entities.UserRolesEnum).values()}"
                th:value="${role}"
                th:text="${role.display()}">
            </option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>